@import "root.scss";

html, body {
  height: 100%;
  width: 100%;
}

.tt-hidden { display: none !important; }

.tt-block { display: block !important; }

.tt-visibility-hidden {
  visibility: hidden !important;
}

#Root {
  width: 100%;
  height: 100%;
}
